<!-- Bottom navigation -->
<footer>
    <nav class="navbar fixed-bottom navbar navbar-dark" style="background-color:#841617">
        <h6 class="display-7 navbar-text"> &nbsp; &copy; Copyright 2022</h6>
    </nav>
</footer>