
<!-- Content of home page --> 

<style>
  p{
text-align: center;
vertical-align: middle;
line-height: 90px;
}
</style>
<div class= "container">
<br><br>

<p class="display-6"><a href="customer-list/add" class="text-danger">Add Costumer Information</a></p>

</div>