
<!-- Content of home page --> 

<style>
  p{
text-align: center;
vertical-align: middle;
line-height: 90px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>
<div class= "container">
<br><br><br>

<p class="display-6"><a href="customer-list/add" class="text-danger">Add Costumer Information</a></p>
<br><br>

 <a <img src="/public/Assets/images/info.png" alt="info" width=auto height="200" class="center">

</div>